body {
    margin: 0;
    font-family: Nunito Sans, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #ffffff;
}

body * {
    box-sizing: border-box;
}

.main-container {
    max-width: 1171px;
    margin: 0 auto;
}

.button {
    font-family: Nunito Sans, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    background: #e3b873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: #ffffff;
}

.button:hover {
    background: #e0c8a0;
}

.brown-text {
    color: #e3b873;
}


.navigation {
    list-style: none;
    display: flex;
}

.navigation a:hover {
    color: #e3b873;
}


.title {
    margin: 0;
    font-family: Yeseva One, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #fff;
}

.projects {
    background: #000;
}

.projects-container {
    padding-top: 100px;
    padding-bottom: 400px;
}

.projects-navigation {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 52px;
    padding-left: 0;
    margin-right: -57px;
}

.projects-navigation a {
    margin-right: 59.5px;
    text-decoration: none;
    color: #fff;
}

.projects-content {
    display: flex;
    justify-content: space-between;
}

.projects-content-text {
    display: flex;
    flex-direction: column;
}

.projects-title {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    margin-bottom: 34px;
    color: #e3b873;
}

.projects-subtitle {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 42px;
}

.line-decorate {
    padding-bottom: 7px;
    padding-left: 0 !important;
}

.line-decorate:hover {
    border-bottom: 1px solid #e3b873;
}

.description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.descripton-hidden {
    display: none;
}


.description-item {
    width: 50%;
    padding-bottom: 34px;
}

.description-item-title {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 9px;
    color: #e3b873;
}

.arrows {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.arrow {
    display: flex;
    align-items: center;
}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    padding-right: 17px;
}


/* Mobile version */

@media screen and (max-width: 1300px) {

    .header-navigation,
    .header-navigation-button,
    .footer,
    .projects-navigation,
    .arrows,
    .clients,
    .feedback {
        display: none;
    }

    .projects-title,
    .projects-subtitle {
        text-align: center;
    }


    .projects-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects-description {
        margin-top: 314px;
    }

    .projects-img {
        margin-top: -490px;
        width: 340px;
    }

    .projects-container {
        padding-bottom: 300px;
    }


    .main-container {
        width: 90%;
    }

    .checkbox-1 {
        color: #fff;
    }

    .online-form-label-input {
        margin-bottom: 30px;
    }

    .online-checkbox {
        margin-top: -160px;
    }

    .types-block-3 {
        padding-bottom: 0;
    }

    .types-block {
        padding-bottom: 80px;
    }

    .types-container {
        margin-top: 30px;
    }

    .questions::before {
        background: #131313;
    }
}

#slider {
    height: 482px;
    width: 600px;
    background: url(../img/rostov.png );
}


.slider-arrow-left,
.slider-arrow-right {
    cursor: pointer;
    opacity: 0.3;
}

.slider-arrow-left:hover {
    opacity: 1;
}

.slider-arrow-right:hover {
    opacity: 1;
}

.dot {
    cursor: pointer;
    opacity: 0.3;
}

.dot-1 {
    opacity: 1;
}

.dot:hover {
    opacity: 1 !important;
}

.brown-hypertext {
    border-bottom: 1px solid #e3b873;
    color: #e3b873 !important;
}

a {
    cursor: pointer;
}